* {
	margin: 0px;
	padding: 0px;
}

body {
    font: normal 16px Arial, Helvetica, sans-serif;
    
    line-height: 1.6em;
    margin: 0px;
}

#banner-img {
   background-image: url('../images/nysl_banner.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 400px;
   top: -30px;
   height: auto;
   width: auto;
   position: relative;
   z-index: -1;
}

#banner-logo {
   background-image: url('../images/nysl_logo_rsz.png') ;
   background-repeat: no-repeat;
    
   padding-top: 100px;
   height: 50px;
   width: 100px;
   float: right;
   right: 100px;
   top: -70px;
   position: relative;
}

#banner-title {
    background-color: #000;
    height: 33px;
    width: 100%;
    top: 366px;
    position: absolute;
    z-index: -1;
}

#banner-title > h1 {
    font: normal 16px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 25px;

    text-align: center;
    margin-bottom: 10px;
}

#main-title  {
    font: Arial, 
          Helvetica, 
          sans-serif;
    color: #000;
    text-shadow: 0 0 5px #fff;
    font-weight: bold;
    font-size: 25px;
    
    text-align: left;
    position: absolute;
    margin: -410px;
    margin-left: 10px;
    padding: 0px; 
    z-index: -1; 
 }

ul {
    list-style-type: none;
    margin: 0;
    padding; 0;
    width: 200px;
    background-color: #fff;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li > a:hover {
    color: #7CFC00;
}

.active {
    text-decoration: underline;
}

.img {
    position: absolute;
    float: left;
    margin-left: 600px;
    margin-top: 100px;
}

.section {
    position: relative; 
    float: center;
    margin-top: -140px;
    margin-left: 200px;
    padding: 0px;
    width: 1050px;
    
    hyphens: auto; 
    text-align: justify
}

p {
    margin-left: 30px;

}